.cardCreateTask {
  box-shadow: 12px 12px 20px #d1d9e6;
  margin-right: 2rem !important;
  text-align: center;
}
.createTaskButton {
  width: 100% !important;
}
.datePicker {
  width: 100%;
}
.icon {
  margin-right: 0.3rem;
}
.iconComplete {
  background-color: #419873 !important;
  border: 1px #419873 !important;
}
.iconComplete:hover {
  background-color: #52bf90 !important;
}
.logOutButton {
  margin-bottom: 6px;
}
.signOutLink {
  color: white;
  margin-left: 10px;
}
.sitePageHeader {
  border: 1px solid rgb(235, 237, 240);
  display: flex;
  margin-bottom: 2rem !important;
}
.textArea {
  max-height: 200px;
}
.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 95%;
  padding-right: 10px;
  padding-left: 10px;
}
