.homeLogo {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 40%;
}
.linkBackTo {
  color: #6a50a8;
  margin: 0;
  text-align: center !important;
}
.linkBackTo:hover {
  color: #44316a;
}
.loginBgColor {
  background: #35215e;
  height: 30%;
  position: absolute;
  width: 100%;
}
.loginCard {
  border-radius: 0.4rem !important;
  box-shadow: 18px 18px 20px #35215e;
  display: inline-block;
  margin-top: 20% !important;
  width: 100%;
  z-index: 1;
}
.loginCard h1 {
  padding-bottom: 2rem;
  text-align: center;
}
.loginForm {
  max-width: 100%;
}
.loginFormButton {
  background-color: #6a50a8 !important;
  border: 1px solid #6a50a8 !important;
  margin-bottom: 1rem !important;
  width: 100%;
}
.loginFormButton:hover {
  background-color: #44316a !important;
}
.pOr {
  color: #44316a;
  font-weight: 100;
  font-style: oblique;
  margin-top: 1rem;
  text-align: center;
}
.regFormButton {
  background-color: #6a50a8 !important;
  border: 1px solid #6a50a8 !important;
  width: 100%;
}
.regFormButton:hover {
  background-color: #44316a !important;
}
